.kutu{
margin-left: 400px;
margin-top:10px;


}
.bosluk{
margin-top: 15px;
margin-left: 300px;

}
.arkaplan{
    
    background-color: lightseagreen;
    width: 220px;
    height: 119px;
    margin-top: 16px;
}
.yazı{
    clear: both;
    margin-left: 450px;
    margin-top: 5px;
}
/* .style{
    text-align: center;
} */